.pageMain {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

.layoutHeadingL {
  margin: 40px auto;
}

.imgBlock {
  overflow: hidden;
}

.imgWrapper {
  position: relative;
  width: 1200px;
  height: 800px;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
}
