.pageMain {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

.layoutHeadingL {
  margin: 40px auto;
}

.imgWrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.imgWrapper::before {
  content: '';
  display: block;
  padding-top: 66%;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto !important;
}
